---
import { Icon } from 'astro-icon/components';
---

<footer class="w-full mx-auto max-w-5xl px-6 sm:px-10 py-8 mt-8 not-prose print:hidden">
  <p class="mb-1 text-sm font-medium text-stone-400 leading-normal transition-colors">
    Find me elsewhere:
  </p>
  <p class="flex flex-wrap gap-x-4 text-base font-medium text-stone-400 leading-normal text-sm">
    <a class="inline-flex items-center gap-x-1 font-medium hover:text-stone-900 dark:hover:text-stone-100 transition-colors" href="https://blog.sryu.dev/"><Icon class="w-4 h-4" name="lucide:book" />Blog</a>
    <a class="inline-flex items-center gap-x-1 font-medium hover:text-stone-900 dark:hover:text-stone-100 transition-colors" href="mailto:me@sryu.dev"><Icon class="w-4 h-4" name="lucide:mail" /> Mail</a>
    <a class="inline-flex items-center gap-x-1 font-medium hover:text-stone-900 dark:hover:text-stone-100 transition-colors" href="https://github.com/sangwon090"><Icon class="w-4 h-4" name="fa7-brands:github" /> GitHub</a>
    <a class="inline-flex items-center gap-x-1 font-medium hover:text-stone-900 dark:hover:text-stone-100 transition-colors" href="https://linkedin.com/in/sangwon090"><Icon class="w-4 h-4" name="fa7-brands:linkedin-in" /> LinkedIn</a>
  </p>
</footer>